<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Administration{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!------ Include the above in your HEAD tag ---------->


    <link href="/assets/css/styleAdmin.css" rel="stylesheet">

</head>

<body>
{% include 'layout/headerAdmin.html.twig' %}
        <div class="col-md-10">
            <div class="card mx-auto bg-gold">
                <div class="card-header bg-green">
                    <h1>{% block titleDashboard %}{% endblock %}</h1>
                </div>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {% if label == "success" %}
                                <i class="far fa-check-circle"></i> {{ message|raw }}
                            {% elseif label == "warning" %}
                                <i class="far fa-pause-circle"></i> {{ message|raw }}
                            {% elseif label == "danger" %}
                                <i class="far fa-times-circle"></i> {{ message|raw }}
                            {% elseif label == "info" %}
                                <i class="far fa-question-circle"></i> {{ message|raw }}
                            {% elseif label == "secondary" %}
                                <i class="far fa-arrow-alt-circle-right"></i> {{ message|raw }}
                            {% else %}
                                {{ message|raw }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="card-body">
                    <div class="panel-heading text-center">
                    </div>
                    <div class="panel-body">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    {% block javascripts %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <script src="{{ asset( 'bundles/kmsfroalaeditor/froala_editor_2.8.1/js/froala_editor.min.js' ) }}"></script>

    <script src="{{ asset('/assets/js/index.js') }}"></script>

</body>


{% include 'layout/footerAdmin.html.twig' %}
</html>
