{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Ajouter une galerie</h2>
{% endblock %}
{% block body %}
    <div class="container pt-5 pb-5" align="center">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="card">
                    {{ form_start(form) }}
                    <div class="card-body ">
                        <h3 class="card-title">Créer votre dossier</h3>
                        <p class="card-text">{{ form_label(form.name) }}</p>
                        <p class="card-text">{{ form_widget(form.name) }}</p>
                        <p class="card-text">{{ form_label(form.description) }}</p>
                        <p class="card-text">{{ form_widget(form.description) }}</p>
                        <p class="card-text">{{ form_label(form.image) }}</p>
                        <p class="card-text">{{ form_widget(form.image) }}</p>
                        <div class="mt-5">
                            <input class="btn btn-dark" type="submit" value="Ajouter">
                            <a class="btn btn-primary" href="{{ path('show_gallery') }}">Retour</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



