{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    Ajouter des images
{% endblock %}
{% block body %}
    <div class="container pt-5 pb-5" align="center">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="card">
                    {{ form_start(form) }}
                    <div class="card-body">
                        <h3 class="card-title mb-5">Télécharger vos images</h3>
                        <div class="row">
                            <div class="col-md-3 offset-md-1">
                                <p class="card-text">{{ form_label(form.images) }}</p>
                            </div>
                            <div class="col-md-8">
                                <p class="card-text">{{ form_widget(form.images) }}</p>
                            </div>
                        </div>
                        <div class="mt-5">
                            <input class="btn btn-warning" type="submit" value="Ajouter">
                            <a class="btn btn-primary bg-green" href="{{ path('show_gallery') }}">Retour</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
