{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    Ajouter des documents à partager
{% endblock %}
{% block body %}
    <div class="container pt-5 pb-5" align="center">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="card">
                    {{ form_start(form) }}
                    <div class="card-body ">
                        <h3 class="card-title">Télécharger votre document</h3>
                        <p class="card-text">{{ form_label(form.nameFile) }}</p>
                        <p class="card-text">{{ form_widget(form.nameFile) }}</p>
                        <p class="card-text">{{ form_label(form.subject) }}</p>
                        <p class="card-text">{{ form_widget(form.subject) }}</p>
                        <p class="card-text">{{ form_label(form.description) }}</p>
                        <p class="card-text">{{ form_widget(form.description) }}</p>
                        <p class="card-text">{{ form_label(form.fileAccess) }}</p>
                        <p class="card-text">{{ form_widget(form.fileAccess) }}</p>
                        <p class="card-text">{{ form_label(form.isShared) }}</p>
                        <p class="card-text">{{ form_widget(form.isShared) }}</p>
                        <p class="card-text mt-4">{{ form_widget(form.pathFile) }}</p>
                        <div class="mt-5">
                            <input class="btn btn-warning" type="submit" value="Ajouter">
                            <a class="btn btn-primary bg-green" href="{{ path('admin_show_files') }}">Retour</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



