{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Tableau de bord</h2>
{% endblock %}

{% block body %}
    <div class="card mb-5" align="center">
        <h3 class="card-header">Derniers messages</h3>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark ">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Autheur</th>
                    <th scope="col">Email</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Sujet</th>
                    <th scope="col">Message</th>
                    <th scope="col">Traité</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for messageContactUs in messagesContactUs %}
                    <tr>
                        <td>{{ messageContactUs.date |date('d/m/Y')}} </td>
                        <td>{{ messageContactUs.firstName }} {{ messageContactUs.lastName }}</td>
                        <td>{{ messageContactUs.email }}</td>
                        <td>{{ messageContactUs.register }}</td>
                        <td>{{ messageContactUs.subject }}</td>
                        <td>{{ messageContactUs.message }}</td>
                        <td>{{ messageContactUs.isTreated }}</td>
                        <td>
                            <a class="btn btn-dark" href="#">Voir</a>
                            <a class="btn btn-dark" href="#">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <a class="btn btn-dark" href="{{ path('registration') }}">Créer un nouveau membre</a>
    <a class="btn btn-dark" href="{{ path('admin_users') }}">Voir les membres</a>
    <a class="btn btn-dark" href="{{ path('admin_articles') }}">Voir les articles publiés</a>
    <a class="btn btn-dark" href="{{ path('admin_add_files') }}">Ajouter des documents</a>
    <a class="btn btn-dark" href="{{ path('admin_show_files') }}">Voir vos documents</a>
    <a class="btn btn-dark" href="{{ path('add_folder') }}">Créer une galerie d'images</a>
    <a class="btn btn-dark" href="{{ path('show_gallery') }}">Voir vos galeries</a>
{% endblock %}
