{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Tableau de bord</h2>
{% endblock %}

{% block body %}
    <div class="card mb-5 mt-3" align="center">
        <h3 class="card-header">Derniers messages</h3>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark ">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Autheur</th>
                    <th scope="col">Email</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Sujet</th>
                    <th scope="col">Message</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for messageContactUs in messagesContactUs %}
                    <tr>
                        <td>{{ messageContactUs.date |date('d/m/Y')}} </td>
                        <td>{{ messageContactUs.firstName }} {{ messageContactUs.lastName }}</td>
                        <td>{{ messageContactUs.email }}</td>
                        <td>{{ messageContactUs.register }}</td>
                        <td>
                            {% if messageContactUs.subject == constant('CONTACT_VISITORS', messageContactUs) %}
                            Demande d'informations
                            {% elseif messageContactUs.subject == constant('CONTACT_MEMBERS_ACCES', messageContactUs) %}
                            Demande d'accès d'un membre
                            {% endif %}
                        </td>
                        <td>{{ messageContactUs.message }}</td>
                        <td>
                            <a class="btn btn-dark" href="{{ path('show_one_message', {id:messageContactUs.id}) }}">Accèder au message</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if messagesContactUs %} <a class="btn btn-primary" href="{{ path('admin_show_messages') }}">Voir tous les messages</a>
            {% else %} <p>Aucun nouveau message</p> <a class="btn btn-primary" href="{{ path('admin_show_messages') }}">Voir les messages traités</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-2 ml-5 card" align="center">
            <h2><span class="glyphicon glyphicon-user"></span> Membres</h2>
            <div class="card-body">
                <a class="btn btn-primary mb-5" href="{{ path('registration') }}">Ajouter un membre</a>
                <a class="btn btn-primary" href="{{ path('admin_users') }}">Liste des membres</a>
            </div>
        </div>
        <div class="col-md-2 offset-md-1 card" align="center">
            <h2><span class="glyphicon glyphicon-list-alt"></span> Articles</h2>
            <div class="card-body">
                <a class="btn btn-primary mb-5" href={{ path('blog_new', {admin:true}) }}">Ajouter un article</a>
                <a class="btn btn-primary" href="{{ path('admin_articles') }}">Liste des articles</a>
            </div>
        </div>
        <div class="col-md-2 offset-md-1 card" align="center">
            <h2><span class="glyphicon glyphicon-download"></span> Documents</h2>
            <div class="card-body">
                <a class="btn btn-primary mb-5" href="{{ path('admin_add_files') }}">Ajouter un document</a>
                <a class="btn btn-primary" href="{{ path('admin_show_files') }}">Liste des documents</a>
            </div>
        </div>
        <div class="col-md-2 offset-md-1 card" align="center">
            <h2><span class="glyphicon glyphicon-picture"></span> Galeries</h2>
            <div class="card-body">
                <a class="btn btn-primary mb-5" href="{{ path('add_folder') }}">Ajouter une galerie</a>
                <a class="btn btn-primary" href="{{ path('show_gallery') }}">Liste des galeries</a>
            </div>
        </div>
    </div>
{% endblock %}
