{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Tableau de bord</h2>
{% endblock %}

{% block body %}
    <a class="btn btn-dark" href="{{ path('registration') }}">Créer un nouveau membre</a>
    <a class="btn btn-dark" href="{{ path('admin_users') }}">Voir les membres</a>
    <a class="btn btn-dark" href="{{ path('admin_articles') }}">Voir les articles publiés</a>
    <a class="btn btn-dark" href="{{ path('admin_add_files') }}">Ajouter des documents</a>
    <a class="btn btn-dark" href="{{ path('admin_show_files') }}">Voir vos documents</a>
{% endblock %}
