{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    Liste des messages reçus
{% endblock %}

{% block body %}
        <div class="row mb-3">
            <form class="form-inline" action="{{ path('admin_show_messages') }}" method="get">
                {% include('admin/filter.html.twig') %}

        <table class="table">
            <thead class="bg-green gold ">
            <tr>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">Autheur</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Matricule</th>
                <th scope="col" class="text-center">Sujet</th>
                <th scope="col" class="text-center">Message</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody class="bg-light">
            {% for messageContactUs in messagesContactUs %}
                <tr {% if messageContactUs.isArchived %} style="background-color: lightgreen"
                    {% elseif messageContactUs.isTreated %} style="background-color: lightgrey" {% endif %}>
                    <td class="text-center">{{ messageContactUs.date |date('d/m/Y')}} </td>
                    <td class="text-center">{{ messageContactUs.firstName }} {{ messageContactUs.lastName }}</td>
                    <td class="text-center">{{ messageContactUs.email }}</td>
                    <td class="text-center">{{ messageContactUs.register }}</td>
                    <td class="text-center">
                        {% if messageContactUs.subject == constant('CONTACT_VISITORS', messageContactUs) %}
                            Demande d'informations
                        {% elseif messageContactUs.subject == constant('CONTACT_MEMBERS_ACCES', messageContactUs) %}
                            Demande d'accès d'un membre
                        {% endif %}
                    </td>
                    <td class="text-center">{{ messageContactUs.message }}</td>
                    <td class="text-center">
                        <a class="btn btn-primary bg-green" href="{{ path('show_one_message', {id:messageContactUs.id})
                        }}">Accèder au message</a>
                    </td>
                </>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-2">
            <p>{{ knp_pagination_render(messagesContactUs) }}</p>
        </div>
{% endblock %}
