{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    Liste des articles publiés
{% endblock %}

{% block body %}

    <table class="table">
        <thead class="bg-green gold ">
            <tr>
                <th class="text-center">Membre</th>
                <th class="text-center">Titre</th>
                <th class="text-center">Date de publication</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody class="bg-light">
        {% for article in articles %}
            <tr>
                {% if article.user %}
                <td class="text-center">{{ article.user.firstName }} {{ article.user.lastName }}</td>
                {% else %}
                <td class="text-center">Utilisateur supprimé</td>
                {% endif %}
                <td class="text-center">{{ article.title }} </td>
                <td class="text-center">{{ article.publicationDate | date('d-m-Y') }}</td>

                <td class="text-center">
                    <a class="btn btn-info bg-green" href="{{ path('admin_show_article', {id:article.id}) }}">Voir</a>
                    <a class="btn btn-danger alert-delete" href="{{ path('delete_article', {id:article.id}) }}"
                       data-confirm-message="Confirmer la suppression de l'article?">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary bg-green mb-5" href="{{ path('blog_new', {admin:true}) }}">Ajouter un article</a>

{% endblock %}
