{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    Liste des membres du site
{% endblock %}

{% block body %}
        <div class="row mb-3">
            <form class="form-inline" action="{{ path('admin_users') }}" method="get">
            {% include('admin/filter.html.twig') %}
            {% if search is not null %}
                <a class="ml-3 mt-1" href="{{ path('admin_users') }}"><img src="{{ asset('assets/images/refresh.png')}}"></a>
            {% endif %}
        </div>
        <table class="table" align="center">
            <thead class="bg-green gold ">
            <tr>
                <th scope="col" class="text-center">Prénom</th>
                <th scope="col" class="text-center">Nom</th>
                <th scope="col" class="text-center">{{ knp_pagination_sortable(users, 'Date de naissance', 'birthDate') }}</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Téléphone</th>
                <th scope="col" class="text-center">Adresse</th>
                <th scope="col" class="text-center">Ville</th>
                <th scope="col" class="text-center">{{ knp_pagination_sortable(users, 'Inscription le', 'registrationDate') }}</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody class="bg-light">
        {% for user in users %}
            <tr>
                <td class="text-center">{{ user.firstName }}</td>
                <td class="text-center">{{ user.lastName }}</td>
                <td class="text-center">{{ user.birthDate |date('d/m/Y')}} </td>
                <td class="text-center">{{ user.email }}</td>
                <td class="text-center">{{ user.phoneNumber }}</td>
                <td class="text-center">{{ user.address }} {{ user.AdditionalAddress }}</td>
                <td class="text-center">{{ user.postalCode }} {{ user.city }}</td>
                <td class="text-center">{{ user.registrationDate |date('d/m/Y')}} </td>
                <td class="text-center">
                    <a class="btn btn-info bg-green" href="{{ path('admin_show_user', {id:user.id}) }}">Voir</a>
                    <a class="btn btn-danger alert-delete" href="{{ path('admin_delete_user', {id:user.id}) }}"
                        data-confirm-message="Confirmer la suppression de l'utilisateur?">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-2">
            <p>{{ knp_pagination_render(users) }}</p>
        </div>
        <a class="btn btn-primary mt-2 bg-green" href="{{ path('registration') }}">Ajouter un membre</a>
        <a class="btn btn-danger mt-2" href="{{ path('admin_users_inactives') }}">Liste membres inactifs</a>



{% endblock %}
