{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Message de {{ message.firstName }} {{ message.lastName }}
        {% if message.register %}
        / Matricule : {{ message.register }}
        {% endif %}
    </h2>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date : {{ message.date |date('d/m/Y')}}</li>
                    <li class="list-group-item">Email : {{ message.email }}</li>
                    <li class="list-group-item">Objet :
                        {% if message.subject == constant('CONTACT_VISITORS', message) %}
                            Demande d'informations
                        {% elseif message.subject == constant('CONTACT_MEMBERS_ACCES', message) %}
                            Demande d'accès d'un membre
                        {% endif %}
                    </li>
                    <li class="list-group-item">Message : {{ message.message }}</li>
                </ul>
            </div>
            <form action="{{ path('registration') }}" method="post">
                <div class="form-group">
                    <input type="hidden" class="form-control" name="firstName" value="{{ message.firstName }}">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="lastName" value="{{ message.lastName }}">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="email" value="{{ message.email }}">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="id" value="{{ message.id }}">
                </div>
                {% if message.subject == constant('CONTACT_MEMBERS_ACCES', message) %}
                    <button type="submit" class="btn btn-primary">Créer un accès membre</button>
                {% endif %}
            </form>
        </div>
        <div class="col-md-6">
            {% if message.response or message.isTreated %}
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Message traité le : {{ message.isTreated |date('d/m/Y')}}</li>
                        {% if message.response %}
                        <li class="list-group-item">Réponse : {{ message.response }}</li>
                        {% else %}
                        <li class="list-group-item">Mail automatique envoyé suite à la création du compte</li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.emailTo) }}
                    {{ form_widget(form.emailTo) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                </div>
                <button class="btn btn-primary mt-3" type="submit">Envoyer</button>
                {{ form_end(form) }}

                <form action="{{ path('message_treated', {id:message.id}) }}" method="post">
                </form>
            {% endif %}
        </div>
    </div>
    <div class="mt-5" align="center">
        <a class="btn btn-dark alert-delete" href="{{ path('delete_message', {id:message.id}) }}"
           data-confirm-message="Confirmer la supression du message?">Supprimer</a>
    </div>


{% endblock %}
