{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#statut-change">
                {{ user.isAdmin == true ? 'Administrateur' : 'Utilisateur' }}
                 <span class="badge badge-primary bg-green">
                    {% if user.statut == constant('CHAIRMAN', user) %} Président
                    {% elseif user.statut == constant('TREASURER', user) %} Trésorier
                    {% elseif user.statut == constant('SECRETARY', user) %} Secrétaire
                    {% else %} Membre
                    {% endif %}
                 </span>
            </button>
        </div>
        <div class="col-md-8">
            Profil {{ user.firstName }} {{ user.lastName }}
        </div>
        <div class="col-md-2">
            <a class="btn btn-light ml-5" href="{{ path('admin_users') }}">Retour</a>
        </div>
    </div>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                {% if user.pictureProfil %}
                    <img class="mt-4" src="/{{ user.pictureProfil }}" alt="{{ user.firstName }} {{ user.lastName }}">
                {% else %}
                    <img class="card-img-top" src="{{ asset('assets/images/user-icon.png') }}" alt="{{ user.firstName }}{{ user.lastName }}">
                {% endif %}
                <div class="card-body text-center">
                    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                    <p class="card-text">{{ user.description }} </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Date de naissance : {{ user.birthDate | date('d/m/Y')}}</li>
                    <li class="list-group-item">Adresse : {{ user.address }}, {{ user.additionalAddress }}</li>
                    <li class="list-group-item">Ville : {{ user.postalCode }} {{ user.city }}</li>
                    <li class="list-group-item">Email : {{ user.email }}</li>
                    <li class="list-group-item">Téléphone : {{ user.phoneNumber }}</li>
                    <li class="list-group-item">Inscription le : {{ user.registrationDate |date('d/m/Y')}}</li>
                    <li class="list-group-item">
                        {% if user.deleteAt %}
                            <a class="btn btn-warning alert-delete" href="{{ path('delete_user', {id:user.id}) }}"
                               data-confirm-message="Annuler la suppression de l'utilisateur?">Annuler suppression</a>
                        {% else %}
                            <a class="btn btn-danger alert-delete" href="{{ path('delete_user', {id:user.id}) }}"
                               data-confirm-message="Confirmer la suppression de l'utilisateur?">Supprimer</a>
                            {% if user.disableAt %}
                                <a class="btn btn-success alert-delete" href="{{ path('disable_user', {id:user.id}) }}"
                                   data-confirm-message="Confirmer la réactivation de l'utilisateur?">Réactiver</a>
                            {% else %}
                                <a class="btn btn-warning alert-delete" href="{{ path('disable_user', {id:user.id}) }}"
                                   data-confirm-message="Confirmer la désactivation de l'utilisateur?">Désactiver</a>
                            {% endif %}
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 offset-md-1">
            <div class="list-group">
                <div class="card">
                    <div class="card-header bg-green gold">
                        <h3 class="mb-1 center-text">Documents</h3>
                    </div>
                </div>
                {% if files %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-header bg-green gold">Carte d'identité</div>
                                <ul class="list-group list-group-flush">
                                    {% if files.idCard %}
                                        <a class="btn btn-light" href="{{ path('download_files', {idCard:true}) }}">Télécharger
                                            <img class="ml-3" src="{{ asset('assets/images/icon-download.png') }}">
                                        </a>
                                    {% else %}
                                        <li class="list-group-item">Aucun document téléchargé</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-header bg-green gold">Licence</div>
                                <ul class="list-group list-group-flush">
                                    {% if files.idCard %}
                                        <a class="btn btn-light" href="{{ path('download_files', {idCard:true}) }}">Télécharger
                                            <img class="ml-3" src="{{ asset('assets/images/icon-download.png') }}">
                                        </a>
                                    {% else %}
                                        <li class="list-group-item">Aucun document téléchargé</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-header bg-green gold">Assurance</div>
                                <ul class="list-group list-group-flush">
                                    {% if files.idCard %}
                                        <a class="btn btn-light" href="{{ path('download_files', {idCard:true}) }}">Télécharger
                                            <img class="ml-3" src="{{ asset('assets/images/icon-download.png') }}">
                                        </a>
                                    {% else %}
                                        <li class="list-group-item">Aucun document téléchargé</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-header bg-green gold">Document divers</div>
                                <ul class="list-group list-group-flush">
                                    {% if files.idCard %}
                                        <a class="btn btn-light" href="{{ path('download_files', {idCard:true}) }}">Télécharger
                                            <img class="ml-3" src="{{ asset('assets/images/icon-download.png') }}">
                                        </a>
                                    {% else %}
                                        <li class="list-group-item">Aucun document téléchargé</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-header bg-green gold">Document divers</div>
                                <ul class="list-group list-group-flush">
                                    {% if files.idCard %}
                                        <a class="btn btn-light" href="{{ path('download_files', {idCard:true}) }}">Télécharger
                                            <img class="ml-3" src="{{ asset('assets/images/icon-download.png') }}">
                                        </a>
                                    {% else %}
                                        <li class="list-group-item">Aucun document téléchargé</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <div class="list-group">
                <div class="card">
                    <div class="card-header bg-green gold">
                        <h3 class="mb-1 center-text">Articles publiés</h3>
                    </div>
                </div>
                {% if articles %}
                    {% for article in articles %}
                        <a href="{{ path('admin_show_article', {id:article.id}) }}"
                           class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ article.title }}</h5>
                            </div>
                            <small class="text-muted">{{ article.publicationDate | date('d/m/Y') }}</small>
                        </a>
                    {% endfor %}
                {% else %}
                    <div>
                        <h5 class="mb-1">Aucun article publié</h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal changement statut utilisateur -->

    <div class="modal fade" id="statut-change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Changer statut {{ user.firstName }} {{ user.lastName }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(editForm) }}
                    <div class="row mb-5 mt-3">
                        <div class="col-md-6">
                            {{ form_label(editForm.isAdmin) }}
                            {{ form_widget(editForm.isAdmin) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(editForm.statut) }}
                            {{ form_widget(editForm.statut) }}
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary bg-green" value="Enregister">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Retour</button>
                </div>
                <div class="modal-footer">
                    {{ form_end(editForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
