{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Profil {{ user.firstName }} {{ user.lastName }} <a class="btn btn-primary ml-5" href="{{ path('admin_users') }}">Retour</a></h2>


{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                {% if user.pictureProfil %}
                    <img class="card-img-top" src="/{{ user.pictureProfil }}" alt="{{ user.firstName }} {{ user.lastName }}">
                {% else %}
                    <img class="card-img-top" src="/assets/images/user-icon.png" alt="{{ user.firstName }} {{ user.lastName }}">
                {% endif %}
                <div class="card-body text-center">
                    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                    <p class="card-text">{{ user.description }} </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Date de naissance : {{ user.birthDate | date('d/m/Y')}}</li>
                    <li class="list-group-item">Adresse : {{ user.address }} {{ user.additionalAddress }}</li>
                    <li class="list-group-item">Ville : {{ user.postalCode }} {{ user.city }}</li>
                    <li class="list-group-item">Email : {{ user.email }}</li>
                    <li class="list-group-item">Téléphone : {{ user.phoneNumber }}</li>
                    <li class="list-group-item">Inscription le : {{ user.registrationDate |date('d/m/Y')}}</li>
                    <li class="list-group-item">
                        {% if user.deleteAt %}
                            <a class="btn btn-warning alert-delete" href="{{ path('delete_user', {id:user.id}) }}"
                               data-confirm-message="Annuler la suppression de l'utilisateur?">Annuler suppression</a>
                        {% else %}
                            <a class="btn btn-danger alert-delete" href="{{ path('delete_user', {id:user.id}) }}"
                               data-confirm-message="Confirmer la suppression de l'utilisateur?">Supprimer</a>
                            {% if user.disableAt %}
                                <a class="btn btn-success alert-delete" href="{{ path('disable_user', {id:user.id}) }}"
                                   data-confirm-message="Confirmer la réactivation de l'utilisateur?">Réactiver</a>
                            {% else %}
                                <a class="btn btn-warning alert-delete" href="{{ path('disable_user', {id:user.id}) }}"
                                   data-confirm-message="Confirmer la désactivation de l'utilisateur?">Désactiver</a>
                            {% endif %}
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 offset-md-1">
            <div class="card bg-light">
                <h3 class="card-title">Documents</h3>
                {% if files %}
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <div class="card">
                            <div class="card-header">
                                Carte d'identité
                            </div>
                            <ul class="list-group list-group-flush">
                                {% if files.idCard %}
                                    <a class="btn btn-info" href="{{ path('download_files', {idCard:true})
                                    }}">Télécharger</a>
                                {% else %}
                                    <li class="list-group-item">Aucun document téléchargé</li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card">
                            <div class="card-header">
                                Permis de chasse
                            </div>
                            <ul class="list-group list-group-flush">
                                {% if files.idCard %}
                                    <a class="btn btn-info" href="{{ path('download_files', {idCard:true})
                                    }}">Télécharger</a>
                                {% else %}
                                    <li class="list-group-item">Aucun document téléchargé</li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card">
                            <div class="card-header">
                                Assurance
                            </div>
                            <ul class="list-group list-group-flush">
                                {% if files.idCard %}
                                    <a class="btn btn-info" href="{{ path('download_files', {idCard:true})
                                    }}">Télécharger</a>
                                {% else %}
                                    <li class="list-group-item">Aucun document téléchargé</li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card">
                            <div class="card-header">
                                Documents divers
                            </div>
                            <ul class="list-group list-group-flush">
                                {% if files.idCard %}
                                    <a class="btn btn-info" href="{{ path('download_files', {idCard:true})
                                    }}">Télécharger</a>
                                {% else %}
                                    <li class="list-group-item">Aucun document téléchargé</li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card">
                            <div class="card-header">
                                Documents divers
                            </div>
                            <ul class="list-group list-group-flush">
                                {% if files.idCard %}
                                    <a class="btn btn-info" href="{{ path('download_files', {idCard:true})
                                    }}">Télécharger</a>
                                {% else %}
                                    <li class="list-group-item">Aucun document téléchargé</li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div>
                        <h3 class="mb-1 center-text">Articles publiés par {{ user.firstName }} {{ user.lastName }}</h3>
                    </div>
                </div>
                {% if articles %}
                    {% for article in articles %}
                    <a href="{{ path('admin_show_article', {id:article.id}) }}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{article.title}}</h5>
                        </div>
                        <small class="text-muted">Date à ajouter</small>
                    </a>
                    {% endfor %}
                {% else %}
                    <div>
                        <h5 class="mb-1">Aucun article publié</h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
