{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Liste des messages reçus</h2>
{% endblock %}

{% block body %}
        <table class="table">
            <thead class="thead-dark ">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Autheur</th>
                <th scope="col">Email</th>
                <th scope="col">Matricule</th>
                <th scope="col">Sujet</th>
                <th scope="col">Message</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody >
            {% for messageContactUs in messagesContactUs %}
                <tr {% if messageContactUs.isTreated %} style="background-color: lightgreen" {% endif %}>
                    <td>{{ messageContactUs.date |date('d/m/Y')}} </td>
                    <td>{{ messageContactUs.firstName }} {{ messageContactUs.lastName }}</td>
                    <td>{{ messageContactUs.email }}</td>
                    <td>{{ messageContactUs.register }}</td>
                    <td>
                        {% if messageContactUs.subject == constant('CONTACT_VISITORS', messageContactUs) %}
                            Demande d'informations
                        {% elseif messageContactUs.subject == constant('CONTACT_MEMBERS_ACCES', messageContactUs) %}
                            Demande d'accès d'un membre
                        {% endif %}
                    </td>
                    <td>{{ messageContactUs.message }}</td>
                    <td>
                        <a class="btn btn-dark" href="{{ path('show_one_message', {id:messageContactUs.id}) }}">Accèder au message</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
