{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    Voir vos galeries
{% endblock %}
{% block body %}
    <div class="pt-3 pb-3" align="center">
        <button class="btn btn-warning" data-toggle="modal" data-target="#statut-change">Voir description</button>
        <a class="btn btn-primary bg-green" href="{{ path('add_images', {id:folder.id}) }}">Ajouter des images</a>
        <a class="btn btn-danger" href="{{ path('show_gallery') }}">Retour</a>
    </div>
    <div class="row">
        {% for image in images %}
            <div class="col-md-3 mb-4 text-center">
                <img class="img-thumbnail" src="/{{ folder.path }}{{ image }}" style="height: 300px; width: 300px">
                <a class="btn btn-danger alert-delete mt-2" href="{{ path('delete_images_gallery', {image:image, id:folder.id}) }}"
                   data-confirm-message="Confirmez-vous la suppression de l'image ?">Supprimer</a>
            </div>
        {% endfor %}
    </div>

    <!-- Modal changement description galerie -->

    <div class="modal fade" id="statut-change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier la description</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(editForm) }}
                    <div class="row mb-5 mt-3">
                        <div class="col-md-10 offset-md-1">
                            {{ form_label(editForm.name) }}
                            {{ form_widget(editForm.name) }}
                        </div>
                    </div>
                    <div class="row mb-5 mt-3">
                        <div class="col-md-10 offset-md-1">
                            {{ form_label(editForm.description) }}
                            {{ form_widget(editForm.description) }}
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary bg-green" value="Enregister">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Retour</button>
                </div>
                <div class="modal-footer">
                    {{ form_end(editForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}



