{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Visualisation de l'article</h2>
{% endblock %}
{% block body %}
    <div class="container pt-5 pb-5" align="center">
        {% if article %}
            <div class="row">
                <h1>{{ article.title }}</h1>
            </div>
            <div class="row mt-3">
                {{ froala_display(article.article) }}
            </div>
            <h5 align="right"><i>Publié le {{ article.publicationDate | date('d-m-Y') }}
                    par {{ article.user.firstName }} {{ article.user.lastName }}</i>
            </h5>
        {% endif %}
        <div class="row mt-5">
            <div class="col-md-12 card">
                <h2 class="card-header bg-success">
                    Commentaires
                </h2>
                <div class="card-body">
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="row">
                                <div class="card col-md-9 offset-md-1">
                                    <ul class="list-group list-group-flush">
                                        <div class="row mt-3">
                                            <div class="col-md-5">
                                                <p> {{ comment.user.firstName }} {{ comment.user.lastName }}
                                                    <i>le {{ comment.publicationDate | date('d-m-Y') }}</i>
                                                </p>
                                            </div>
                                            <div class="col-md-7">
                                                <h5>{{ comment.comment }}</h5>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <div class="col-md-1 mt-2">
                                    <a class="btn btn-danger alert-delete" href="{{ path('delete_comment', {id:comment.id}) }}"
                                    data-confirm-message="Confirmer la suppresion du commentaire?" >Supprimer</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Aucun commentaire</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


