{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Voir vos galeries</h2>
{% endblock %}
{% block body %}
    <div class="pt-3 pb-3" align="center">
        <a class="btn btn-warning" href="{{ path('add_images', {id:folder.id}) }}">Ajouter des images à cet album</a>
        <a class="btn btn-primary" href="{{ path('show_gallery') }}">Retour</a>
    </div>
    <div class="row">
        {% for image in images %}
            <div class="col-md-3 mb-4 text-center">
                <img class="img-thumbnail" src="/{{ folder.path }}{{ image }}" style="height: 300px; width: 300px">
                <a class="btn btn-danger alert-delete mt-2" href="{{ path('delete_images_gallery', {image:image, id:folder.id}) }}"
                   data-confirm-message="Confirmez-vous la suppression de l'image ?">Supprimer</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}



