{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center mb-5">
                <h1>Mes documents</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    {{ form_start(form) }}
                    <div class="card-body">
                        <h5 class="card-title">{{ form_label(form.idCard) }}</h5>
                        <p class="card-text">{{ form_widget(form.idCard) }}</p>
                        <input class="btn btn-dark" type="submit" value="modifier votre carte d'identité">
                        {% if files.idCard %}
                            <a class="btn btn-dark" href="{{ path('download_files', {idCard:true}) }}">Voir votre carte d'identité</a>
                        {% else %}
                            <p>Aucun document téléchargé</p>
                        {% endif %}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



