{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-5 pb-5" align="center">
        <div class="card">
            <h1 class="card-header bg-green">Espace membre</h1>
            <div class="row card-body pt-5 pb-5">
                <div class="col-md-4">
                    <div class="card">
                    <img class="card-img-top" src="/{{ app.user.pictureProfil }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mon profil</h5>
                            <p class="card-text">{{ app.user.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ app.user.firstName }} {{ app.user.lastName }}</li>
                            <li class="list-group-item">{{ app.user.birthDate | date('d-M-Y') }}</li>
                            <li class="list-group-item">{{ app.user.address }}</li>
                            {% if app.user.additionalAddress %}
                                <li class="list-group-item">{{ app.user.additionalAddress }}</li>
                            {% endif %}
                            <li class="list-group-item">{{ app.user.city }} {{ app.user.postalCode }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <a class="btn btn-dark" href="{{ path('blog_home') }}">Voir vos articles</a>
                    <a class="btn btn-dark ml-5 mr-5" href="{{ path('edit_profil') }}">Modifier votre profil</a>
                    <a class="btn btn-dark" href="{{ path('add_files') }}">Vos documents</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


