    <div class="header-nav text-center pt-3">
        <a class="navbar-brand" href="{{ path('home_page') }}"> Fédération des Gardes Particuliers du Rhône </a>
    </div>
    <div class="header-nav pb-3">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active mr-5">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Association
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('bureau_members') }}">Bureau</a>
                            <a class="dropdown-item" href="#">Bulletins</a>
                            <a class="dropdown-item" href="{{ path('gallery') }}">Galerie photo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('show_files') }}">Documents</a>
                        </div>
                    </li>
                    <li class="nav-item active mr-5">
                        <a class="nav-link" href="{{ path('actuality') }}">Actualités <span class="sr-only">(current)
                        </span></a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('member_area') }}">Espace membre</a>
                        </li>
                        {% if app.user.admin %}
                            <li class="nav-item active ml-5">
                                <a class="nav-link" href="{{ path('admin_home') }}">Administration</a>
                            </li>
                        {% endif %}
                        <li class="nav-item active ml-5">
                            <a class="nav-link mt-2" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('login') }}">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
