<nav class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center mt-4">
                <a href="{{ path('admin_home') }}"><h1>Administration</h1></a>
            </div>
            <div class="col-md-1 offset-md-2 mt-5">
                <a href="#">Retour Site</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid mt-5">
    <div class="row" align="center">
        <div class="col-md-2">
            <div class="card bg-light mb-1" style="margin: auto">
                <div class="card-header">
                    <h1>MENU</h1>
                    <img class="logo" src="{{ asset('/assets/images/logo.jpg') }}">
                </div>
                <div class="card-body navbar-nav">
                        <h2 class="mb-4"><a href="{{ path('admin_users') }}">Membres</a></h2>
                        <h2 class="mb-4"><a href="{{ path('admin_articles') }}">Articles</a></h2>
                        <h2 class="mb-4"><a href="{{ path('admin_show_files') }}">Documents</a></h2>
                        <h2 class="mb-4"><a href="{{ path('show_gallery') }}">Galeries</a></h2>
                        <h2 class="mb-4"><a href="{{ path('admin_show_messages') }}">Messages</a></h2>
                </div>
                <div class="card bg-light mb-1" style="margin: auto">
                    <div class="card-header">Contact maintenance site</div>
                    <div class="card-body">
                        <p>Aurélien ROCHE</p>
                        <p>06-07-64-13-37</p>
                        <p>aurelien.roche1@laposte.net</p>
                    </div>
                </div>
            </div>

        </div>
