{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid pt-5 pb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center mb-3">
                <h1>Le Bureau</h1>
            </div>
        </div>
        <div class="row">
        {% for member in members %}
            {% if member.statut == constant('CHAIRMAN', member) %}
                    <div class="col-md-2 text-center">
                        <h5>Président</h5>
                        <p>{{ member.firstName }} {{ member.lastName }}</p>
                        {% if member.pictureProfil %}
                        <img class="img-chairman" src="{{ member.pictureProfil }}">
                        {% endif %}
                    </div>
            {% elseif member.statut == constant('TREASURER', member) %}
                    <div class="col-md-2 text-center">
                        <h5>Trésorier </h5>
                        <p>{{ member.firstName }} {{ member.lastName }}</p>
                        {% if member.pictureProfil %}
                            <img class="img-chairman" src="{{ member.pictureProfil }}">
                        {% endif %}                    </div>
            {% elseif member.statut == constant('SECRETARY', member) %}
                    <div class="col-md-2 text-center">
                        <h5>Secrétaire </h5>
                        <p>{{ member.firstName }} {{ member.lastName }}</p>
                        {% if member.pictureProfil %}
                            <img class="img-chairman" src="{{ member.pictureProfil }}">
                        {% endif %}                    </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}


