{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-5 pb-5" align="center">
        <div class="card">
            <h1 class="card-header bg-green">Le Bureau</h1>
            <div class="row card-body pt-5 pb-5">
                {% for member in members %}
                    {% if member.statut %}
                        <div class="col-md-3" align="center">
                            <div class="card mb-5">
                                <h3 class="card-header bg-green gold">
                                    {% if member.statut == constant('CHAIRMAN', member) %} Président
                                    {% elseif member.statut == constant('TREASURER', member) %} Trésorier
                                    {% elseif member.statut == constant('SECRETARY', member) %} Secrétaire
                                    {% endif %}
                                </h3>
                                <img class="mt-4 mb-4" alt="{{ member.firstName }} {{ member.lastName }}"
                                     src="{% if member.pictureProfil %}{{ member.pictureProfil }}{% else %}{{ asset('assets/images/user-icon.png') }}{% endif %}">
                                    <h3 class="card-header bg-green gold">{{ member.firstName }} {{ member.lastName }}</h3>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
